<div class="container">
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <mat-form-field  appearance="outline">
        <mat-label>title</mat-label>
        <input
                matInput placeholder="title"
                class="form-control"
                name="title"
                ngModel
                required
        >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Details</mat-label>
        <textarea matInput
                  type="text"
                  class="form-control"
                  name="details"
                  ngModel
                  required
        ></textarea>
    </mat-form-field>
    <button mat-button color="primary"
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid">
        {{ editMode ? 'Update' : 'Add' }}
    </button>
    <!--<button-->
    <!--class="btn btn-danger"-->
    <!--type="button"-->
    <!--(click)="onDelete()"-->
    <!--*ngIf="editMode">Delete-->
    <!--</button>-->
    <!--<button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>-->
</form>
</div>
